/* styles.css */
:root {
  --bg-color-dark: #222;
  --bg-color-light: #fff;
  --text-color-dark: #fff;
  --text-color-light: #333;
  --border-color-dark: #444;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  font-family: Arial, sans-serif;
  margin: 40px 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: auto;
}

.notes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;

}

.card {
  min-width: 20vw;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  border-radius: 10px;
  border: 1px solid var(--border-color-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 300px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  position: relative; /* Add position: relative to make the .inp-area top: 40px relative to this */
}

.card-header {
  text-align: center;
  margin-bottom: 10px;
}

.card-header h3 {
  font-size: 24px;
}

.card-body {
  font-size: 16px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
}

.logoutBtn {
  right: 20px;
  top: 20px;
  position: absolute;
}

.logoutBtn button {
  background-color: rgb(248, 93, 37);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 19px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#done {
  background-color: #4caf50;
}
#pending {
  background-color: #f4ca0f;
}

.button.delete {
  background-color: #ff5c5c;
}


.input-container {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #444;
  color: #fff;
  outline: none;
}

.textarea {
  resize: none;
  height: 100px;
}

.button.save {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.save:hover {
  background-color: #0056b3;
}

