#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.App {
  display: flex;
  flex-direction: column;
}
.notes{
  margin-top: 40px;
}
.note {
  /* overflow-y: scroll; */
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width:240px;
  /* max-width: auto; */
  background-color: #213547;
  color: white;  
  border: 4px solid #168d22;
  border-radius: 6px;
  position: relative;
  
}
#text {
  overflow-y: scroll;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  height: 200px;
  width: 236px;
  overflow-y: scroll;
}
#extra{
  min-width:240px;
  display: flex;
  justify-content: right;
  color: #fff;
  align-items: center;
  position: absolute;
  text-align: center;
  height: 12%;
  bottom: 0;

  background-color: #168d22;
}